<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AdminDashboardServlet</servlet-name>
        <servlet-class>Demo.AdminDashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminservlet</servlet-name>
        <servlet-class>.adminservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>appointmentServlet</servlet-name>
        <servlet-class>Demo.appointmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>patientservlet</servlet-name>
        <servlet-class>patientservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>h11</servlet-name>
        <servlet-class>h11</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServicesServlet</servlet-name>
        <servlet-class>ServicesServlet.ServicesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dentist</servlet-name>
        <servlet-class>dentist</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminservlet1</servlet-name>
        <servlet-class>Demo.adminservlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminloginservlet</servlet-name>
        <servlet-class>adminloginservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLoginServlet</servlet-name>
        <servlet-class>AdminLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminloginservlet2</servlet-name>
        <servlet-class>adminloginservlet2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>AdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminloginservlett2</servlet-name>
        <servlet-class>Demo.adminloginservlett2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminlogin</servlet-name>
        <servlet-class>Demo.adminlogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admincheckservlet</servlet-name>
        <servlet-class>admin.admincheckservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStatisticsServlet</servlet-name>
        <servlet-class>UpdateStatisticsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAppointmentServlet</servlet-name>
        <servlet-class>Demo.UpdateAppointmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>appointmentupdated</servlet-name>
        <servlet-class>appointmentupdated</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateAppointment</servlet-name>
        <servlet-class>Demo.updateAppointment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminPatient</servlet-name>
        <servlet-class>Demo.AdminPatient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>java</servlet-name>
        <servlet-class>AddStatisticsServlet.java</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminDashboardServlet</servlet-name>
        <url-pattern>/AdminDashboardServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminservlet</servlet-name>
        <url-pattern>/adminservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>appointmentServlet</servlet-name>
        <url-pattern>/appointmentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>patientservlet</servlet-name>
        <url-pattern>/patientservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>h11</servlet-name>
        <url-pattern>/h11</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServicesServlet</servlet-name>
        <url-pattern>/ServicesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dentist</servlet-name>
        <url-pattern>/dentist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminservlet1</servlet-name>
        <url-pattern>/adminservlet1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminloginservlet</servlet-name>
        <url-pattern>/adminloginservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLoginServlet</servlet-name>
        <url-pattern>/AdminLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminloginservlet2</servlet-name>
        <url-pattern>/adminloginservlet2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/AdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminloginservlett2</servlet-name>
        <url-pattern>/adminloginservlett2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminlogin</servlet-name>
        <url-pattern>/adminlogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admincheckservlet</servlet-name>
        <url-pattern>/admincheckservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStatisticsServlet</servlet-name>
        <url-pattern>/UpdateStatisticsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAppointmentServlet</servlet-name>
        <url-pattern>/UpdateAppointmentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>appointmentupdated</servlet-name>
        <url-pattern>/appointmentupdated</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateAppointment</servlet-name>
        <url-pattern>/updateAppointment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminPatient</servlet-name>
        <url-pattern>/AdminPatient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>java</servlet-name>
        <url-pattern>/java</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
