body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image:url("image/bg16.jpg");
}

.container {
    width: 80%;
    margin: 20px auto;
}
.home-button {
      width: 100px;
      height: 100px;
      background-color: #007bff; /* Blue color */
      border-radius: 50%; /* To make it circular */
      cursor: pointer; /* Cursor changes to pointer on hover */
    }
h1, p {
    color: #333;
    text-align: center;
}

.contact-info, .contact-form {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
<div class="Location">
            <p>LBS road near mangatram patrol pumb bhandup mumbai 400078</p>
        </div>
        
        <div class="social_media-list">
       
            
        </div>
    

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input, textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


}
button:hover {
    background-color: #0056b3;
}

main {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-map-marker {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-whatsapp {
  background: #3cb371;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}


.row {

}

.navbar-toggler {

}
